.local-movie(data-path="#{path}")
  .screenshots
    for screenshot in screenshots
      img(width="185", height="124", src="#{screenshot}")
  h3 #{name}
  .metadata
    strong
      | Time: 
      span #{metadata.durationraw}
    strong
      | Codec: 
      span #{metadata.video.codec}
    strong
      | Resolution: 
      span #{metadata.video.resolution.w} x #{metadata.video.resolution.h}
